<a href="https://colab.research.google.com/github/DineshY1011/US_Accident/blob/main/Milestone_1/Week_2/Day_8/Day_8_handle_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset_path = "C:/Users/win10/Desktop/US_Accidents_March23.csv"
us_accidents_df = pd.read_csv(dataset_path)

In [ ]:
us_accidents_df.isnull()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
us_accidents_df.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [ ]:
(us_accidents_df.isnull().sum()/us_accidents_df.shape[0])*100

ID                        0.000000
Source                    0.000000
Severity                  0.000000
Start_Time                0.000000
End_Time                  0.000000
Start_Lat                 0.000000
Start_Lng                 0.000000
End_Lat                  44.029355
End_Lng                  44.029355
Distance(mi)              0.000000
Description               0.000065
Street                    0.140637
City                      0.003274
County                    0.000000
State                     0.000000
Zipcode                   0.024779
Country                   0.000000
Timezone                  0.101030
Airport_Code              0.292881
Weather_Timestamp         1.555666
Temperature(F)            2.120143
Wind_Chill(F)            25.865904
Humidity(%)               2.253301
Pressure(in)              1.820288
Visibility(mi)            2.291524
Wind_Direction            2.267043
Wind_Speed(mph)           7.391355
Precipitation(in)        28.512858
Weather_Condition         2.244438
Amenity                   0.000000
Bump                      0.000000
Crossing                  0.000000
Give_Way                  0.000000
Junction                  0.000000
No_Exit                   0.000000
Railway                   0.000000
Roundabout                0.000000
Station                   0.000000
Stop                      0.000000
Traffic_Calming           0.000000
Traffic_Signal            0.000000
Turning_Loop              0.000000
Sunrise_Sunset            0.300787
Civil_Twilight            0.300787
Nautical_Twilight         0.300787
Astronomical_Twilight     0.300787
dtype: float64

In [ ]:
# Drop the columns of 'End_lat' & 'End_lng' from this dataset.
us_accidents_df.drop(['End_Lat', 'End_Lng'], axis=1, inplace=True)

In [ ]:
# Handling the missing data of 'Wind_Speed(mph)' & 'Precipitation(in)'
temp_df = us_accidents_df[['Wind_Speed(mph)', 'Precipitation(in)']][:1000000]
temp_df.head()

   Wind_Speed(mph)  Precipitation(in)
0              NaN               0.02
1              NaN               0.00
2              3.5                NaN
3              4.6                NaN
4              3.5                NaN

In [ ]:
import pandas as pd
from sklearn.impute import KNNImputer

# Suppose temp_df is your large DataFrame with 7.7 million rows

# Step 1: Randomly sample 10,000 rows from the dataset
sample_df = temp_df.sample(n=100000, random_state=42)

# Step 2: Perform KNN imputation on the sample
knn_imputer = KNNImputer(n_neighbors=2)
sample_imputed = knn_imputer.fit_transform(sample_df)
sample_imputed_df = pd.DataFrame(sample_imputed, columns=sample_df.columns)

# Step 3: This sample_imputed_df is your imputed subset
print(sample_imputed_df.head())

   Wind_Speed(mph)  Precipitation(in)
0        13.000000           0.000000
1        11.500000           0.000000
2        10.000000           0.000000
3        10.400000           0.020000
4         7.769027           0.013425

### TASK: Impute the columns of 'Wind_Speed(mph)' & 'Weather_Conditions'

**1. Impute Wind_Speed(mph) (Numerical)**

Options:
*   Mean / Median imputation (simple, good baseline)

*   KNN Imputer (better if correlated with other features like Temperature(F) or Visibility(mi))

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

# Load dataset (make sure the CSV file is in the same folder or give full path)
df = pd.read_csv("/content/drive/MyDrive/US_Dataset/US_Accidents_March23.csv")

# Randomly sample 10,000 rows
df_sample = df.sample(n=10000, random_state=42)

# Check missing values before imputation
print("Before imputation:")
print(df_sample[['Wind_Speed(mph)', 'Weather_Condition']].isnull().sum())

Before imputation:
Wind_Speed(mph)      776
Weather_Condition    222
dtype: int64

In [5]:
# Impute Wind_Speed(mph) with median
df_sample['Wind_Speed(mph)'] = df_sample['Wind_Speed(mph)'].fillna(df_sample['Wind_Speed(mph)'].median())

# Impute Weather_Condition with mode (most frequent value)
df_sample['Weather_Condition'] = df_sample['Weather_Condition'].fillna(df_sample['Weather_Condition'].mode()[0])

# Check missing values after imputation
print("\nAfter imputation:")
print(df_sample[['Wind_Speed(mph)', 'Weather_Condition']].isnull().sum())

After imputation:
Wind_Speed(mph)      0
Weather_Condition    0
dtype: int64

**KNN Imputer**

In [10]:
from sklearn.impute import KNNImputer

# Select numerical columns to use for KNN
num_cols = ['Wind_Speed(mph)', 'Temperature(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)']
knn_imputer = KNNImputer(n_neighbors=5)

df_sample[num_cols] = knn_imputer.fit_transform(df_sample[num_cols])

In [11]:
df_sample[num_cols].info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 7133276 to 3340785
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Wind_Speed(mph)  10000 non-null  float64
 1   Temperature(F)   10000 non-null  float64
 2   Humidity(%)      10000 non-null  float64
 3   Pressure(in)     10000 non-null  float64
 4   Visibility(mi)   10000 non-null  float64
dtypes: float64(5)
memory usage: 468.8 KB

**2. Impute Weather_Conditions (Categorical)**

Options:

* Most frequent category

* Forward/Backward fill (if time-ordered data)

* Predictive model imputation (advanced)

In [12]:
# Mode (most frequent category)
df_sample['Weather_Condition'] = df_sample['Weather_Condition'].fillna(df_sample['Weather_Condition'].mode()[0])

In [13]:
# Forward fill
df_sample['Weather_Condition'] = df_sample['Weather_Condition'].fillna(method='ffill')

/tmp/ipython-input-1886333241.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_sample['Weather_Condition'] = df_sample['Weather_Condition'].fillna(method='ffill')

In [14]:
print(df_sample[['Wind_Speed(mph)', 'Weather_Condition']].isnull().sum())

Wind_Speed(mph)      0
Weather_Condition    0
dtype: int64